In [1]:
import  geopandas as gpd
import pandas as pd
import folium 
from folium import plugins
from folium.plugins import MarkerCluster
import numpy as np
import branca
import requests 
import json
from folium import plugins

- 전국시도 지도 : https://raw.githubusercontent.com/suanlab/dataset/master/skorea-provinces-2018-geo.json
- 전국시도 인구수 : https://raw.githubusercontent.com/suanlab/dataset/master/skorea-provinces_population.csv

In [5]:
url = 'https://raw.githubusercontent.com/suanlab/dataset/master'
skorea_provinces_geo = f'{url}/skorea-provinces-2018-geo.json'
skorea_provinces_population = f'{url}/skorea_provinces_population.csv'
skorea_provinces_df = pd.read_csv(skorea_provinces_population , encoding = 'utf-8')
skorea_provinces_df

       name  population
0     서울특별시     9765623
1     부산광역시     3441453
2     대구광역시     2461769
3     인천광역시     2954642
4     광주광역시     1459336
5     대전광역시     1489936
6     울산광역시     1155623
7   세종특별자치시      314126
8       경기도    13077153
9       강원도     1543052
10     충청북도     1599252
11     충청남도     2126282
12     전라북도     1836832
13     전라남도     1882970
14     경상북도     2676831
15     경상남도     3373988
16  제주특별자치도      667191

In [ ]:
m = folium.Map(
    location = [36.320329, 127.861451],
    zoom_start = 7
)

folium.GeoJson(
    skorea_provinces_geo,
    name = 'skorea-proinces'
).add_to(m)


m

In [ ]:
m = folium.Map(
    location = [36.320329, 127.861451],
    zoom_start = 7
)


folium.Choropleth(
    skorea_provinces_geo, 
    data = skorea_provinces_df,
    columns = ['name', 'population'],
    key_on = 'feature.properties.name',
    fill_color='OrRd',
    fill_opacity=0.6,
    line_opacity=0.4,
    legend_name='Population'
).add_to(m)

m

- 국가통계포털 : http://kosis.kr
- 행정구역 지도 : https://raw.githubusercontent.com/suanlab/dataset/master/skorea-municipalities-2018-geo.json 
- 행정구역 인구수 : https://raw.githubusercontent.com/suanlab/dataset/master/skorea_municipalities_population.csv

In [9]:
url = 'https://raw.githubusercontent.com/suanlab/dataset/master'
skorea_municipalities_geo = f'{url}/skorea-municipalities-2018-geo.json'
skorea_municipalities_population = f'{url}/skorea_municipalities_population.csv'
skorea_municipalities_df = pd.read_csv(skorea_municipalities_population , encoding = 'utf-8')
skorea_municipalities_df

     name  population
0     종로구      157967
1      중구      129797
2     용산구      226938
3     성동구      306796
4     광진구      362304
..    ...         ...
256   함양군       38005
257   거창군       60020
258   합천군       42856
259   제주시      482932
260  서귀포시      175350

[261 rows x 2 columns]

In [ ]:
m = folium.Map(
    location = [36.320329, 127.861451],
    zoom_start = 7
)

folium.GeoJson(
    skorea_municipalities_geo,
    name = 'skorea-proinces'
).add_to(m)


m

In [ ]:
m = folium.Map(
    location = [36.320329, 127.861451],
    zoom_start = 7
)


folium.Choropleth(
    skorea_municipalities_geo, 
    data = skorea_municipalities_df,
    columns = ['name', 'population'],
    key_on = 'feature.properties.name',
    fill_color='Reds',
    fill_opacity=0.6,
    line_opacity=0.4,
    legend_name='Population'
).add_to(m)

m

- https://raw.githubusercontent.com/python-visualization/folium/master/examples/data 
    - us_county_data.csv
    - us_counties_20m_topo.json

In [17]:
# memory size geojson > topojson
url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'

country_data = f'{url}/us_county_data.csv'
country_geo = f'{url}/us_counties_20m_topo.json'

In [19]:
df = pd.read_csv(country_data, encoding = 'cp949')
df

,FIPS_Code,State,Area_name,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Median_Household_Income_2011,Med_HH_Income_Percent_of_StateTotal_2011
0,0,US,United States,154505871,140674478,13831393,9,50502,100
1,1000,AL,Alabama,2190519,1993977,196542,9,41427,100
2,1001,AL,Autauga County,25930,23854,2076,8,48863,117.9
3,1003,AL,Baldwin County,85407,78491,6916,8.1,50144,121
4,1005,AL,Barbour County,9761,8651,1110,11.4,30117,72.7
...,...,...,...,...,...,...,...,...,...
3271,72145,PR,Vega Baja Municipio,18402,15507,2895,15.7,NaN,NaN
3272,72147,PR,Vieques Municipio,3186,2675,511,16,NaN,NaN
3273,72149,PR,Villalba Municipio,8615,6912,1703,19.8,NaN,NaN
3274,72151,PR,Yabucoa Municipio,10553,7963,2590,24.5,NaN,NaN
3275,72153,PR,Yauco Municipio,15355,12830,2525,16.4,NaN,NaN